:root {
  --very-dark-gray: #2e323f;
  --dark-gray: #3b4050;
  --gray: #e1e3eb;
  --brown: #a59678;
  --body-font: "Montserrat", sans-serif;
  --titles-font: "Oswald", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* section 1 style */

html {
  font-size: 24px;
  background-color: var(--dark-gray);
}

body {
  margin: 0;
  font-family: var(--body-font);
}

.container {
  width: 80%;
  margin: auto;
}

ul {
  padding: 0;
}

a,
button {
  cursor: pointer;
}

/* navbar style */

.logo {
  width: 10%;
  min-width: 65px;
  --mx-width: max(65px, 10%);
  margin: auto;
  position: absolute;
  /* to center the logo */
  left: calc((100% - var(--mx-width)) / 2);
}

.hamburger {
  width: 8%;
  min-width: 30px;
  position: relative;
}

.invisible {
  display: none;
}

/* .visible {
  display: block;
} */

.nav {
  background-color: var(--very-dark-gray);
  padding: 0.5rem;
}

header ul {
  text-align: center;
  list-style: none;
  padding: 1em 0 0 0;
}

ul a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--titles-font);
}

li {
  margin: 0.5em;
}

li:hover,
li:focus {
  opacity: 80%;
}

button {
  background-color: var(--brown);
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  font-family: var(--titles-font);
  text-transform: uppercase;
  outline: none;
}

button:hover,
button:focus {
  opacity: 80%;
}

/* header body style */

.header-body {
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  /* the height of the viewport - the height of the navbar */
  min-height: calc(100vh - 80px);
}

.brown-text {
  color: var(--brown);
}

header h1 {
  font-family: var(--titles-font);
  margin: 0.5em 0 0.8em;
  line-height: 1.25em;
  color: #fff;
}

.header-body button {
  margin: 2em 0;
}

.header-body p {
  color: #fff;
}

/* section 1 style */

section {
  padding: 3em 0;
}

.s1 {
  background-color: var(--gray);
  text-align: center;
}

.s1 p {
  margin: 1em 0 2em;
}

.s1 h2 {
  color: var(--brown);
  font-family: var(--titles-font);
  font-size: 1.2rem;
}
