:root {
  --very-dark-gray: #2e323f;
  --dark-gray: #3b4050;
  --gray: #e1e3eb;
  --brown: #a59678;
  --body-font: "Montserrat", sans-serif;
  --titles-font: "Oswald", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* section 1 style */

html {
  font-size: 24px;
  background-color: var(--dark-gray);
}

body {
  margin: 0;
  font-family: var(--body-font);
}

.container {
  width: 80%;
  margin: auto;
}

ul {
  padding: 0;
}

a,
button {
  cursor: pointer;
}

/* navbar style */

.logo {
  width: 10%;
  min-width: 65px;
  --mx-width: max(65px, 10%);
  margin: auto;
  position: absolute;
  /* to center the logo */
  left: calc((100% - var(--mx-width)) / 2);
}

.hamburger {
  width: 8%;
  min-width: 30px;
  position: relative;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.nav {
  background-color: var(--very-dark-gray);
  padding: 0.5rem;
}

header ul {
  text-align: center;
  list-style: none;
  padding: 1em 0 0 0;
}

ul a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--titles-font);
}

li {
  margin: 0.5em;
}

li:hover,
li:focus {
  opacity: 80%;
}

button {
  background-color: var(--brown);
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  font-family: var(--titles-font);
  text-transform: uppercase;
  outline: none;
}

button:hover,
button:focus {
  opacity: 80%;
}

/* header body style */

.header-body {
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  /* the height of the viewport - the height of the navbar */
  min-height: calc(100vh - 80px);
}

.brown-text {
  color: var(--brown);
}

header h1 {
  font-family: var(--titles-font);
  margin: 0.5em 0 0.8em;
  line-height: 1.25em;
  color: #fff;
}

.header-body button {
  margin: 2em 0;
}

.header-body p {
  color: #fff;
}

/* section 1 style */

section {
  padding: 3em 0;
}

.s1 {
  background-color: var(--gray);
  text-align: center;
}

.s1 p {
  margin: 1em 0 2em;
}

.s1 h2 {
  color: var(--brown);
  font-family: var(--titles-font);
  font-size: 1.2rem;
}

/* section 2 style */

.s2 {
  background-color: #fff;
}

h2 {
  line-height: 1em;
}

.s2 h2 {
  color: var(--brown);
  font-family: var(--titles-font);
}

.s2 p {
  padding: 1em 0;
}

p {
  line-height: 1.5em;
}

.image {
  width: 1200px;
  max-width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

.card {
  background-color: var(--very-dark-gray);
  color: #fff;
  text-align: center;
  padding: 1em;
  margin: 1em 0;
}

.card h2 {
  font-family: var(--titles-font);
  color: #fff;
}

/* footer style */

footer {
  background-color: var(--dark-gray);
  padding: 2em 0 3em;
  color: #fff;
}

footer h3,
footer h2 {
  font-family: var(--titles-font);
  margin-top: 2em;
}

footer h3 {
  color: var(--brown);
}

footer a {
  font-family: var(--body-font);
  text-transform: unset;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li,
footer p {
  margin: 0.8em 0;
}

/* style mediam devices 900px : 1600px */

@media (min-width: 900px) {
  /* header */
  .invisible {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .logo {
    left: 10%;
    top: 35px;
    width: 100px;
  }

  header ul {
    display: flex;
    padding-top: 0;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
  }

  .flex-div {
    align-self: flex-end;
  }

  /* section 1 */
  .s1 .container {
    display: flex;
  }

  article + article {
    margin-left: 1.5em;
  }

  .s1 p {
    margin-bottom: 0;
  }

  /* section 2 */
  aside {
    display: flex;
  }

  .card + .card {
    margin-left: 1em;
  }

  /* footer */
  .lists {
    display: flex;
    justify-content: space-between;
  }
}

/* larg devices 1200px and greater */
@media (min-width: 1200px) {
  /* header */
  .logo {
    left: max(10%, (100% - 1200px)/2);
  }

  .container {
    max-width: 1200px;
  }

  header h1 {
    font-size: 3rem;
  }

  header .header-body .container {
    display: flex;
  }

  header .header-body .container h1 {
    margin: 0 2em 0 0;
  }

  .flex-item {
    align-self: flex-end;
    margin-left: 4em;
  }

  .header-body button {
    margin-bottom: 0;
  }

  /* section 2 */
  .s2 .container {
    display: flex;
  }

  aside {
    flex-direction: column;
  }

  .card + .card {
    margin-left: 3em;
  }

  .card {
    margin-left: 3em;
  }

  .image {
    max-height: unset;
    height: unset;
  }

  main {
    width: 250%;
  }

  /* footer */
  footer h2 {
    font-size: 2em;
    text-align: center;
  }

  .lists {
    display: flex;
  }

  .footer-body {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .footer-body p {
    margin-right: 4em;
  }
}
